<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sz.dzh.dandroidsummary">


    <!--         普通权限           -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SENSOR_ENABLE" />
    <!--targetSdkVersion>=28，前台服务需要此权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--电源锁权限-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--接收开机广播的权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />



    <!--         危险权限        -->
    <!--联系人-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!--电话-->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <!--日历-->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!--相机拍照-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--传感器-->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!--定位权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--存储-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--音频-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--短信-->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CELL_BROADCASTS" />





    <!--    其他权限    -->
    <!--获取任务信息,允许程序获取当前或最近运行的应用-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--指纹权限-->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <!--调起安装页面需要-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--读取系统底层日志-->
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />


<!--

    &lt;!&ndash;源码权限&ndash;&gt;
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE"
             android:permissionGroup="android.permission-group.STORAGE"
             android:label="@string/permlab_sdcardRead"
             android:description="@string/permlab_sdcardRead"
             android:protectionLevel="dangerous" />

    <permission android:name="android.permission.INTERNET"
             android:description="@string/permdesc_createNetworkSockets"
             android:label="@string/permlab_createNetworkSockets"
             android:protectionLevel="normal|instant" />
-->

    <!-- uses-feature
          是对外提供了一组信息，表明它所依赖的硬件特征，这个信息是给应用市场使用的，应用市场读取use-feature的
          设置，在分发app时就自动过滤掉那些不支持的设备。-->
    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".base.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 屏幕适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <!-- 屏幕适配 -->

        <!--
          解释：
          android:authorities="${applicationId}.fileProvider" 就是 app的包名.fileProvider
          android:exported="false"   为false，不允许被另一个Application的组件启动
          android:grantUriPermissions="true"  为true，才能获取临时共享权限。
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <activity android:name=".model.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- url 跳转app   <a href="[scheme]://[host]/[path]?[query]">启动应用程序</a> -->
            <intent-filter>
                <!-- 必须加否否无法响应点击链接的 Intent -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="dzh"
                    android:host="summary"
                    android:pathPrefix="/open"
                    />
            </intent-filter>
        </activity>
        <activity android:name=".model.viewDetails.viewpager.ViewPagerListActivity" />
        <activity android:name=".model.viewDetails.viewpager.tabpager.TabPagerActivity" />
        <activity android:name=".model.viewDetails.viewpager.tabpager.TabIndicatorActivity" />
        <activity android:name=".model.viewDetails.dialog.DialogUActivity" />
        <activity android:name=".model.viewDetails.dialog.DialogListActivity" />
        <activity android:name=".model.viewDetails.dialog.DialogFrActivity" />
        <activity android:name=".model.viewDetails.popwindow.PopWindowListActivity" />
        <activity android:name=".model.viewDetails.popwindow.BasePopTestActivity" />
        <activity android:name=".model.viewDetails.viewpager.banpager.BanPagerActivity" />
        <activity android:name=".model.viewDetails.webview.WebListActivity" />
        <activity android:name=".model.viewDetails.webview.AgentWebActivity" />
        <activity android:name=".model.viewDetails.webview.AgentWebJSActivity" />
        <activity android:name=".model.viewDetails.webview.WebViewActivity" />


        <service android:name=".model.specialFunc.download.DownloadIntentService" />

        <!--Service部分-->
        <activity android:name=".model.summary.service.ServiceTestActivity" />
        <activity android:name=".model.summary.service.ServiceListActivity" />
        <service android:name=".model.summary.service.MyService"/>
        <service android:name=".model.summary.service.MyIntentService" />
        <activity android:name=".model.summary.service.keeplive.KeepServiceActivity" />


        <!--运行在 live进程，与该apk默认进程分离，这样杀掉apk默认进程，live进程也能存活
            且优先级设置到最高 1000-->
        <service android:name=".model.summary.service.keeplive.KeepliveService"
            android:process=":live"
            android:priority="1000">
            <intent-filter>
                <!-- 系统启动完成后会调用 -->
                <!--开机广播 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!--系统日期变化广播-->
                <action android:name="android.intent.action.DATE_CHANGED" />
                <!--插入SD卡并且已正确安装（识别）时发出的广播-->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <!--用户解锁行为的广播-->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!--当前时间改变，每分钟都发送-->
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
                <!--插上外部电源时发出的广播-->
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <!--已断开外部电源连接时发出的广播-->
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </service>
        <!--用来帮助开启通知栏的Service-->
        <service android:name=".model.summary.service.keeplive.KeepLiveManager$GrayInnerService" android:process=":live"/>
        <!--守护进程-->
        <service android:name=".model.summary.service.keeplive.GuardService"
            android:process=":guard"
            android:priority="1000"/>
        <!--1像素界面，也允许在Live进程
            excludeFromRecents：当该 Activity 是Task 的根 Activity 时，此属性确定任务是否应出现在最近使用的应用列表中。
                               如果应将任务排除在列表之外，请设置“true”；如果应将其包括在内，则设置“false”。 默认值为“false”。
                               总的来说，此处是为了不让用户在应用列表找到该界面，这个属性只在Task的根Activity生效
            exported：是否允许其他应用调用自己。
            finishOnTaskLaunch：在配置了该属性为true的activity中按home键返回到[home screen]屏幕后,再点击该应用的图标启动程序时,
                                则系统会调用该activity的[onDestroy]销毁。因为点击应用的图标启动程序时,重新启动了这个任务。
                                此处设置不重启。
        -->
        <activity android:name=".model.summary.service.keeplive.PixelActivity"
            android:process=":live"
            android:excludeFromRecents="true"
            android:theme="@style/LiveActivityStyle"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"/>
        <!--Service部分-->

        <activity android:name=".model.specialFunc.download.DownloadListActivity" />
        <activity android:name=".model.specialFunc.fingerprint.FingerPrintActivity" />
        <activity android:name=".model.viewDetails.customview.VerticalStepViewActivity" />
        <activity android:name=".model.viewDetails.customview.CustomListActivity" />
        <activity android:name=".model.viewDetails.customview.MyViewActivity" />
        <activity android:name=".model.viewDetails.customview.InflaterActivity" />
        <activity android:name=".model.viewDetails.anim.FrameAnimActivity" />
        <activity android:name=".model.viewDetails.anim.TweenAnimActivity" />
        <activity android:name=".model.viewDetails.anim.AnimListActivity" />
        <activity android:name=".model.viewDetails.anim.ObjectAnimActivity" />
        <activity android:name=".model.viewDetails.anim.ShareAnimActivity" />
        <activity android:name=".model.viewDetails.anim.ShareAnimActivityB" />
        <activity android:name=".model.viewDetails.anim.TransitionActivity" />
        <activity android:name=".model.viewDetails.anim.TransitionActivityB" android:theme="@style/AppTheme.Trans"/>
        <activity android:name=".model.summary.activity.OrientationActivity" />
        <activity android:name=".model.summary.activity.AcListActivity" />
        <activity android:name=".model.summary.activity.ConfigChangeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"/>
        <activity android:name=".model.summary.storageSummary.StorageActivity" />
        <activity android:name=".model.summary.netSummary.NetActivity" />
        <activity android:name=".model.summary.netSummary.NetListActivity" />
        <activity android:name=".model.summary.netSummary.retrofit.RetrofitActivity" />
        <activity android:name=".model.summary.netSummary.okhttp.OkHttpActivity" />
        <activity android:name=".model.specialFunc.emoji_encoder.EmojiEncoderActivity" />
        <activity android:name=".model.summary.premission.PermissionActivity" />
        <activity android:name=".model.problems.EtAndSeekBarActivity" />
        <activity android:name=".model.summary.imageSummary.ImageListActivity" />
        <activity android:name=".model.summary.imageSummary.ImageLoadActivity" />
        <activity android:name=".model.summary.imageSummary.BitmapOperaActivity" />
        <activity android:name=".model.problems.ViewRotationActivity" />
        <activity android:name=".model.viewDetails.imageView.NiceImageActivity" />
        <activity android:name=".model.viewDetails.imageView.ImageViewListActivity" />
        <activity android:name=".model.summary.rxjava.RxJavaListActivity" />
        <activity android:name=".model.summary.rxjava.rxStudy.RxJStudyListActivity" />
        <activity android:name=".model.summary.rxjava.rxStudy.RxCreateActivity" />
        <activity android:name=".model.summary.rxjava.rxStudy.RxFilterActivity" />
        <activity android:name=".model.summary.rxjava.rxStudy.RxTransformActivity" />
        <activity android:name=".model.summary.rxjava.rxStudy.RxCombineActivity" />
        <activity android:name=".model.summary.rxjava.rxStudy.RxFunctionActivity" />
        <activity android:name=".model.summary.rxjava.rxStudy.RxConditionActivity" />
        <activity android:name=".model.summary.rxjava.rxStudy.FlowableActivity" />
        <activity android:name=".model.summary.rxjava.rxUse.RxUseListActivity" />
        <activity android:name=".model.summary.rxjava.rxUse.RxBusBActvitiy" />
        <activity android:name=".model.summary.rxjava.rxUse.RxBusActvitiy" />
        <activity android:name=".model.summary.rxjava.rxUse.RxCodeActvitiy" />
        <activity android:name=".model.summary.rxjava.rxUse.RxLifecycleActivity" />


    </application>

</manifest>